# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/app/app.iml
.idea
*.iml
out
gen
.gitignore
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/vcs.xml
.idea/workspace.xml
TestAudio.iml
app/.externalNativeBuild/
app/app.iml
app/build/
app/src/main/res/drawable/
app/src/main/res/menu/
build/
gradle/
gradlew
gradlew.bat

